.charts {
  width: 65%;

  .card {
    padding: 1rem;
    border: none !important;
    box-shadow: none !important;
    h4{
      font-size: 14px;
      font-weight: 600;
      color: #000;
    }
 
  }
}

@media (max-width: 700px) {
.charts{
  width: 100% !important;
}
}