

.info-box {
  display: flex;

  flex-wrap: wrap;
}

.card {
  border: 1px solid #ccc;
  padding: 5px;
  background-color: #f5f6fa;
}

.card1 {
  border-bottom: 3px solid #28a745;
}
.card2 {
  border-bottom: 3px solid #005EB2;
}
.card3 {
  border-bottom: 3px solid #d32e2d;
}
