.review {

  form {

    .rating{
margin-left: -10px;
margin-bottom: 16px;
    }
    label {
      display: block;
      font-size: 1.8rem;
      font-weight: 400;
    }
    input[type="text"],
    input[type="number"],
    input[type="file"],
    input[type="email"],
    select,
    textarea,
    input[type="password"] {
      display: block;
      font-size: 1.6rem;
      font-weight: 300;
      padding: 1rem;
      margin: 1rem auto;
      width: 100%;
      border: 1px solid #777;
      border-radius: 3px;
      outline: none;
    }

    .button{
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }
}
