.table {
  padding: 10px 20px 30px 20px;
  width: 100%;
  overflow-x: auto;
  min-height: 100vh;

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ccc;
    padding-top: 3rem;
    margin-bottom: 2rem;
  }
  .bread-crumb {
    margin: 15px 0;
  }
  .search {
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1.4rem;

    tbody {
      text-align: center;



      tr {
        border-bottom: 1px solid #e5e9eb;
        td:nth-child(3),
        td:nth-child(4),
        td:nth-child(5),
        td:nth-child(6),
        td:nth-child(7) {
          padding-top: 24px;
        }
        td:nth-child(7) {
          text-align: center;
        }
      }
    }

 

    th,
    td {
      vertical-align: top;
      text-align: left;
      padding: 8px;
      color: #252c32;

      &.icons {
        > * {
          margin-right: 5px;
          cursor: pointer;
        }
      }
      .icons {
        padding-left: 10px;
      }

      .img {
        img {
          object-fit: cover;
          height: 100px;
        }
      }
    }

    tr {
      border-bottom: 2px solid #e5e9eb;
    }

    tr:nth-child(even) {
      // background-color: #eee;
    }
  }
}

.additional-row {
  display: none;
}

.showOnMobile {
  display: none;
}

@media (max-width: 600px) {

      // tr
      //         td:nth-child(6){
      //           display: flex !important;
      //           gap: 20px;
      //         }
  td:nth-child(7) {
    button {
      background-color: transparent;
      border: none !important;
    }
  }
  .additional-row {
    display: block;
  }

  .hideOnMobile {
    display: none;
  }

  .showOnMobile {
    display: block;
  }

  .toggle-content {
    p {
      color: #252c32;
      font-weight: 400;
      padding-bottom: 10px;
      b {
        color: #000;
        font-weight: 500;
      }
    }
  }
}
