.auth {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 0px 36px;

  .img {
    animation: slide-down 0.5s ease;
    margin-top: 2rem;
  }

  .form {
    width: 42rem;
    padding: 2.5rem 3rem;
    animation: slide-up 0.5s ease;

    h2 {
      color: var(--color-dark);
      text-align: left;
      font-size: 24px;
    }

    p {
      font-weight: 400;
      line-height: 24px;
      font-size: 14px;
      margin-top: 1rem; /* Add some margin for better spacing */
    }

    h5 {
      text-align: center;
      margin: 2rem;
      font-weight: 400;
      font-size: 14px;
      color: #777;
    }

    form {
      margin-top: 20px !important;

      input[type='text'],
      input[type='email'],
      input[type='password'] {
        display: block;
        font-size: 1.6rem;
        font-weight: 300;
        padding: 1rem;
        margin: 1rem auto;
        width: 100%;
        border: 1px solid #eeeeee !important;
        border-radius: 3px;
        outline: none;
      }

      p {
        font-weight: 400;
        line-height: 24px;
      }

      .links {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
      }
    }

   .register {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      margin-top: 1rem;
      p{
        margin: 0;
        padding: 0;
      }
      div a{

        font-weight: 500;
      }
    }
  }

  .passwordField {
    display: flex;
    align-items: center;
    position: relative;
  }

  .passwordToggle {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @keyframes slide-up {
    0% {
      transform: translateY(-5rem);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes slide-down {
    0% {
      transform: translateY(5rem);
    }
    100% {
      transform: translateY(0);
    }
  }
}

/* Style for Small Screens */

@media screen and (max-width: 900px) {
  .img {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .auth {
    margin: 0 !important;

    .form {
      width: 35rem;
      padding: 2.5rem 1.5rem;
    }
  }

  .img {
    display: none;
  }
}

@media screen and (max-width: 460px) {
  .auth {
    min-height: 75vh;
    margin: 0 !important;
    background-color: #eee;

    .form {
      width: 100%; /* Ensure full width */
      max-width: 35rem;
      padding: 2.5rem 1rem; /* Adjusted padding */
      box-sizing: border-box; /* Ensure padding is included in width */
    }
  }

  .img {
    display: none;
  }

  .card {
    box-shadow: none !important;
    border: none !important;
  }

  .passwordToggle {
    position: absolute;
    right: 10px !important; /* Adjusted right positioning */
  }
}

@media screen and (max-width: 350px) {
  .auth {
    margin: 0 !important;

    .form {
      width: 100%; /* Ensure full width */
      max-width: 20rem;
      padding: 2rem 0.5rem;
      box-sizing: border-box; /* Ensure padding is included in width */
    }
  }

  .img {
    display: none;
  }

  .card {
    box-shadow: none !important;
    border: none !important;
  }
}
