.section {
  .contact {
    padding-left: 0 !important;
    .info-wrap {
      display: flex;
      align-items: center;
      padding-top: 30px;
      gap: 80px;
      margin-bottom: 40px !important;

      .img {
        width: 100%;
        max-width: 500px;
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }

      .info {
        margin-top: 20px;
        width: 45%;

        h2 {
          margin-bottom: 10px;
          line-height: 62px !important;
          font-size: clamp(1.5rem, 7vw, 4rem);
        }

        p {
          margin-bottom: 20px;
          line-height: 28px;
          font-weight: 400;
        }
        .contactInfo {
          p {
            display: flex;
            align-items: center;
            margin: 10px 0;

            .icon {
              margin-right: 10px;
            }
          }
        }
      }
    }

    .contact-wrapper {
      margin: auto !important;
    }
  }
}

@media (max-width: 1024px) {
  .contact {
    .info-wrap {
      gap: 30px !important;

      .img {
        max-width: 350px !important;
        img {
          width: 100%;
        }
      }

      .info {
        width: 80% !important;

        h2 {
          line-height: 2px !important;
        }
      }
    }
  }
}

@media (max-width: 760px) {
  .contact {
    padding-right: 0 !important;

    .info-wrap {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      padding-top: 30px;
      gap: 10px !important;

      .img {
        width: 100%;
        max-width: 500px !important;
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }

      .info {
        margin-top: 20px;
        width: 80% !important;

        h2 {
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .contact {
    .info-wrap {
      .img {
        width: 100%;
        max-width: 300px !important;
        img {
          width: 100%;
        }
      }
    }
  }
}

