.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  .card {
    padding: 2rem 3rem;
    border: 1px solid #ebedf0;
    border-radius: 16px !important;
    box-shadow: none !important;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
  }

  .section {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;

    form {
      width: 100%;
      margin-bottom: 1rem;

      label {
        display: block;
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
      }

      input[type='text'],
      input[type='number'],
      input[type='file'],
      input[type='email'],
      select,
      textarea,
      input[type='password'] {
        display: block;
        font-size: 1.6rem;
        font-weight: 500;
        padding: 1rem;
        margin-bottom: 1.8rem;
        width: 100%;
        border: 1px solid #808080 !important;
        border-radius: 3px;
        outline: none;
      }

      button {
        width: 100%;
        padding: 1rem;
        font-size: 1.6rem;
      }
    }
  }
}

@media (max-width: 700px) {
  .card {
    padding: 1.5rem !important;
    border: none !important;
  }

  .section {
    align-items: center;

    form {
      width: 100%;
      max-width: 100%;
    }
  }
}

@media (max-width: 400px) {
  .card {
    padding: 1rem !important;
    border: none !important;
  }

  .section {
    align-items: center !important;

    form {
      width: 100%;
      max-width: 100%;
    }
  }
}
