.table {
  padding: 10px 20px;
  width: 100%;
  overflow-x: auto !important;

  .bread-crumb {
    margin: 15px 0;
  }

  .details-wrapper {
    display: flex;
    gap: 100px;

    table {
      border-collapse: collapse;
      width: 60%;
      font-size: 1.4rem;

      thead {
        tr {
          th {
            text-align: left;
            padding: 8px;
            color: #252c32;
          }
        }
      }

      tbody {
        tr {
          border-bottom: 1px solid #e5e9eb;

          td {
            padding-top: 24px;
            height: 100px;
            vertical-align: top;
            text-align: left;
            padding: 8px;
            color: #252c32;

            &.icons > * {
              margin-right: 5px;
              cursor: pointer;
            }
          }
        }
      }

      tr {
        border-bottom: 2px solid #e5e9eb;
      }
    }

    .summary-wrapper {
      width: 30%;
      background-color: #f5f5f5;
      padding: 20px;
      border-radius: 10px;

      p {
        color: #000;
        font-weight: 400;
        padding-bottom: 8px;
        line-height: 28px;
        letter-spacing: 6%;
      }

      b {
        color: #252c32;
      }
    }
  }

  .additional-row {
    display: none;
  }

  .showOnMobile {
    display: none;
  }

  @media (max-width: 900px) {
    .details-wrapper {
      flex-direction: column;
      gap: 30px;
      margin-bottom: 30px;

      table {
        width: 100% !important;
      }

      .summary-wrapper {
        width: 50% !important;
      }
    }
  }

  @media (max-width: 500px) {
    .table {
      min-height: 200svh !important;
      padding-bottom: 150px !important;
    }

    td:nth-child(6) button {
      background-color: transparent;
      border: none !important;
    }

    .details-wrapper {
      flex-direction: column;

      table {
        width: 100% !important;
      }

      .summary-wrapper {
        width: 100% !important;
      }
    }

    .additional-row {
      display: table-row;
    }

    .hideOnMobile {
      display: none;
    }

    .showOnMobile {
      display: table-cell;
    }

    .icons button {
      margin-top: 40px;
    }
  }

  .toggle-content p{
    color: var(--color-dark);
    padding-bottom:8px;
  }

}
