.product-list {
  width: 100%;
  .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .icons {
      display: flex;
      justify-content: center;
      align-items: center;
      & > * {
        margin-right: 7px;
        cursor: pointer;
      }
    }
    .sort-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
    .sort {
      padding: 0 1rem;

      label {
        font-size: 1.4rem;
        font-weight: 400;
        margin: 0 5px;
        color: #9aa6ac;
      }
      select {
        font-size: 1.6rem;
        font-weight: 300;
        height: 37px;
        width: 3;
        color: #252c32;

        border: none;
        outline: none;
      }
    }

    .product {
      display: flex !important;
      align-items: flex-start !important;
    }
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    margin: 1.5rem 0 3rem 0;
  }

  @media screen and (max-width: 990px) {
    .top {
      flex-direction: column;
      align-items: start;
      padding-bottom: 5px;
      div {
        margin-bottom: 10px;
      }
    }
    .search {
      width: 100%;
    }
  }
  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ccc;
    padding-top: 2rem;
  }
}

@media (max-width: 1200px) {
  .product-list {
    .grid {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      margin: 1.5rem 0 3rem 0;
    }
  }
}
@media (max-width: 900px) {
  .product-list {
    .grid {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      margin: 1.5rem 0 3rem 0;
    }
  }
}

@media (max-width: 400px) {
  .product-list {
    .grid {
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      margin: 1.5rem 0 3rem 0;
    }
    .top {
      .sort-wrap {
        .icons {
          display: none;
        }
      }
    }
  }
}
