.info-box {
  width: 100%;
  max-width: 30rem;
  margin-right: 1rem;
  margin-bottom: 1rem;

  span {
    display: flex;
    justify-content: space-between;
    align-items: center;
          padding-top: 6px;

    h3{
      margin: 0;
    }
  }
}
