.info-box {
  width: 100%;
  max-width: 30rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
.cardClass{
h3{
   font-size: 14px;
    color: #000;
}
}

  .card {
    border: none !important;
    border-bottom: 3px solid var(--light-blue);
    padding: 5px;
    box-shadow: none !important;
    h3{
       font-size: 14px;
    color: #000;
    }
   
  }

  span {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
