.admin {
  display: flex;

  .navbar {
    // width: 15%;
    min-height: 80vh;
  }
  .content {
    // width: 80%;
    // padding: 1rem;
    border-left: 1px solid #ebedf0;
    border-top: 1px solid #ebedf0;
    margin-bottom: 2rem;
  }
}
