.section {
    padding: 30px 70px 1000px 70px;

  height: 100svh;

  @media (max-width: 768px) {
        padding: 30px  10px 1500px 10px;


    .showOnMobile{
      display: block;
    }
  }
}

.showOnMobile{
      display: none;
    }

.details-div {
  margin-top: 20px;
  padding-bottom: 10px;

  p {
    color: #252c32;
    font-weight: 500;
    padding: 5px 0;
    letter-spacing: -0.8pxx;
  }
}

   .pending {
      color: #f76659;
      font-weight: 400;
    }

    .delivered {
      color: #398b38 !important;
      font-weight: 400;
    }

.table {
  padding: 5px;
  width: 100%;
  overflow-x: auto;

  table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1.4rem;

 tbody{
  
    tr {
      border-bottom: 1px solid  #e5e9eb;;
    }
 }

    th, td {
      vertical-align: top;
      text-align: left;
      color: #252c32;
      padding: 20px 0;

      &.icons {
        > * {
          margin-right: 5px;
          cursor: pointer;
        }
      }
    }

    .icons a{
      color: var(--color-primary);
      font-weight: 400;
    }

    tr {
      border-bottom: 2px solid  #e5e9eb;;
    }

    tr:nth-child(even) {
      background-color: #f9fafc;
    }
  }

     td:nth-child(7) {
      button{
 background-color: transparent;
            border: none !important;
    }}

  
}


.mobileRow, .mobileDetails {
  display: none;

  @media (max-width: 768px) {
    display: table-row;
  }
}

.desktopRow {
  @media (max-width: 768px) {
    display: none;
  }
}

.detailsRow {
  background-color: #f9fafc;
}

.details {
  padding: 15px;
  
  button{
    background-color: transparent;
    color: var(--color-primary);
      border: none ;
      font-size: 14px;
    margin-top: 10px;
    font-weight: 500;

  }

  p {
    margin: 10px 0;
    color: #252c32;
  }

  a {
    color: var(--color-primary);
    font-weight: 400;
  }
}
  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    margin-bottom: 2rem;
  }